body {
    background-color: lightgrey;
    padding: 20px;
    margin: 0;
    font-size: 11pt;
    font-family: Roboto, sans-serif;
    color: black;
}

h1, h2, p, ul, li {
    font-family: Roboto, sans-serif;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.header {
    background-color: #2196f3;
    padding: 0;
}

ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}


.content li {
    margin-bottom: 10px;
}

h1 {
    font: 1.75em Roboto, sans-serif;
    font-weight: bold;
    line-height: 20pt;
    margin: auto;
    width: 30%;
    padding: 1em;
    text-align: center;
}

form {
    margin: auto;
    width: 87%;
}

label{
    display: inline-block;
    clear: left;
    width: 250px;
    text-align: right;
    margin: 10px;
    vertical-align: top;
}

input, textarea {
    display: inline-block;
    margin: 10px;
    width: 20%;
}

#main {
    width: 75%;
    max-width: 940px;
    margin: auto;
    padding: 20px;
}

#map {
    height: 60%;
    width: 75%;
    max-width: 940px;
    margin: auto;
    padding: 20px;
}

.active {
    background-color: #1769aa;
}

#submit-button {
    display: block;
    margin: auto;
    width: 10%;
}

#location-input, #video-input, textarea {
    width: 35%;
}
